<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Java Developer\lesson-011a\src">
        <classes>
            <class name="ngtestxml.NgXmlTest">
                <methods>
                    <include name="myFirstPattern"/>
                    <include name="secondTest"/>
                    <include name="thirdTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="test2">
        <classes>
                <class name="MainPageTest">
                    <methods>
                        <include name="_4Test"/>
                        <include name="_5Test"/>
                    </methods>
                </class>


        </classes>
    </test>
</suite>