<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Java Developer\lesson-011a\src">
        <classes>
            <!-- <class name="folder.Annotation">
                 <methods>
                    &lt;!&ndash; <include name="test1"/>
                     <include name="test2"/>&ndash;&gt;
                 </methods>
             </class>-->
            <!--<class name="folder.Regresion">-->
            <!--<methods>-->
            <!--<include name="trueRegressionTest"/>-->
            <!--<include name="falseRegressionTest"/>-->
            <!--</methods>-->
            <!--</class>-->
            <class name="ngtestxml.NgXmlTest">
                <methods>
                    <include name="myFirstPattern"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>